@import "variables"

.modules
    display: flex
    flex-wrap: wrap
    margin: 4rem -1rem
    .module-wrapper
        padding: 1rem
        width: 33.333%
    .module-container
        height: 100%
        border: 1px solid #e5e5e5
        border-radius: 4px
        padding: 1rem
    .module-name
        font-size: 1.125rem
        font-weight: bold
        margin-bottom: 1rem
        color: $primary
        span
            color: #212529
    .module-desc
        color: rgba(0,0,0,.6)